<div class="container">
  <h1> Single Result Page </h1>

  <div ng-show="singleResultComp.results !== undefined && singleResultComp.results.length === 0">
    Sorry, no results.
  </div>

  <div ng-show="singleResultComp.results !== undefined && singleResultComp.results.length > 0"
       ng-repeat="result in singleResultComp.results">

    <h1>{{result.label}}</h1>

    <img ng-src="{{result.image}}" />

    <p>See full recipe on: <a href="{{result.url}}">{{result.source}}</a></p>
    <button type="button" class="btn btn-primary" aria-pressed="false" autocomplete="off">
      <span class="glyphicon glyphicon-bookmark"></span> Save
    </button>

    <h2>{{result.ingredientLines.length}} Ingredients</h2>
    <p ng-repeat="each in result.ingredients">{{each.text}}</p>

    <h2>Nutrition </h2>
    <p> {{result.calories/result.yield | noDecimal}} <br> CALORIES/SERVING</p>
    <p> {{result.calories/result.yield | dailyCalPercent}}%<BR> DAILY VALUE</p>
    <P> {{result.yield}} <BR> SERVINGS </P>

    <h2>Preparation</h2>
    <p>
      <button type="button" class="btn btn-primary" aria-pressed="false" autocomplete="off">
         Instructions
      </button> on <a href="{{result.url}}">{{result.source}}</a>
    </p>

    <h3> <a href="#">{{result.dietLabels | showFirst}}</a> <a href="#">{{result.healthLabels | showFirst}}</a></h3>

    <canvas id="doughnut" class="chart chart-doughnut"
      chart-data="singleResultComp.data" chart-labels="singleResultComp.labels">
    </canvas>

    <div ng-repeat="all in result.digest">
      <p>
        <a id="all-{{$index}}"
        ng-click="all.isHidingOpen = !all.isHidingOpen"
        ng-class="{'glyphicon glyphicon-play': all.sub.length > 0, 'disable-link': !all.sub }">
        {{all.label }}</a>
        {{all.total/result.yield | noDecimal}}{{all.unit}}
        {{(all.total/result.yield)/all.daily | percentage}}%
      </p>
      <p ng-show="all.isHidingOpen"
         ng-repeat="subitem in all.sub"
         id="subitem-{{$index}}">
        {{subitem.label}}
        {{subitem.total/result.yield | noDecimal}}{{subitem.unit}}
        {{(subitem.total/result.yield)/subitem.daily | percentage}}%
      </p>
    </div>

  </div>
</div>
